.container{
    width: 100%;
    display: flex;
}

.list{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.actions{
    margin-top: 15px;
}