.container{
    width: 100%;
    display: flex;
}

.list{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.actions{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
}

.invitations{
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}